body {
    background-image: url('https://scrv.xyz/cdn/bg.gif');
    background-size: cover; /* Ensures the GIF covers the entire background */
    background-repeat: repeat; /* Allows the GIF to repeat */
    background-position: center center; /* Centers the background image */
    min-height: 100vh; /* Ensures the background covers at least the viewport height */
    color: red;
    
    font-family: 'Courier New', Courier, monospace;
    margin: 0; /* Removes any default margin */
}

.logo {
    display: flex;
    justify-content: center; /* Centers the logo horizontally */
    align-items: center; /* Centers the logo vertically (if needed) */
    height: 100px; /* Adjust as necessary */
    font-size: 500%;
    text-align: center;
}

.logo-link {
    text-decoration: none;
    color: inherit;
}
    
.logo-link:hover {
    opacity: 0.8;
}
     
h1, p, a {
    color: white; /* Ensure all headings, paragraphs, and links are white */
}

.image-container {
    display: inline-block; /* Allows multiple containers to sit next to each other */
    text-align: center; /* Centers the text and image within the container */
    margin: 10px; /* Adds some space between each image */
}

.box {
    display: block;
    width: 250px;
    height: 250px;
    text-align: center;
    border: 1px solid #000;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
}

.box img {
    width: 100%; /* Ensures the image covers the box */
    height: auto; /* Maintains aspect ratio */
    object-fit: cover;
}

.box:hover {
    transform: scale(1.1);
    border-color: #D81000;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
    background-color: #050505;
}


